<a href="https://colab.research.google.com/github/kvinne-anc/Conflict-and-Climate-Project/blob/main/AsiaConflictClean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
conflict = pd.read_csv('/content/asia_conflicts.csv')
conflict.head

FileNotFoundError: ignored

In [ ]:
conflict = conflict[conflict.country != 'Bangladesh']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216676  1707379  764          THA1  ...           0  1531246498   THA
216677  1673081  144       SRI1298  ...           0  1531145065   LKA
216678  1728203  104          MMR1  ...           0  1532986401   MMR

[209892 rows x 30 columns]

In [ ]:
conflict = conflict[conflict.country != 'Thailand']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA
216678  1728203  104          MMR1  ...           0  1532986401   MMR

[206973 rows x 30 columns]

In [ ]:
conflict = conflict[conflict.country != 'Yemen']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA
216678  1728203  104          MMR1  ...           0  1532986401   MMR

[184934 rows x 30 columns]

In [ ]:
conflict = conflict[conflict.country != 'Cambodia']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA
216678  1728203  104          MMR1  ...           0  1532986401   MMR

[183141 rows x 30 columns]

In [ ]:
conflict = conflict[conflict.country != 'Myanmar']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216672  1531186  586          PAK7  ...           5  1524053974   PAK
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA

[177568 rows x 30 columns]

In [ ]:
conflict = conflict[conflict.country != 'Indonesia']
conflict

        data_id  iso event_id_cnty  ...  fatalities   timestamp  iso3
1       1733345  356      IND33731  ...           1  1532986405   IND
2       1733346  356      IND33732  ...           1  1532986405   IND
3       1733347  356      IND33733  ...           0  1532986405   IND
4       1733348  356      IND33734  ...           0  1532986405   IND
5       1733349  356      IND33735  ...           0  1532986405   IND
...         ...  ...           ...  ...         ...         ...   ...
216672  1531186  586          PAK7  ...           5  1524053974   PAK
216673  1531187  586          PAK8  ...          93  1524053974   PAK
216674  1531160  586          PAK9  ...           0  1524053974   PAK
216675  1531188  586          PAK5  ...           0  1524053974   PAK
216677  1673081  144       SRI1298  ...           0  1531145065   LKA

[177157 rows x 30 columns]

In [ ]:
conflict.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'actor1', 'assoc_actor_1',
       'inter1', 'actor2', 'assoc_actor_2', 'inter2', 'interaction', 'region',
       'country', 'admin1', 'admin2', 'admin3', 'location', 'latitude',
       'longitude', 'geo_precision', 'source', 'source_scale', 'notes',
       'fatalities', 'timestamp', 'iso3'],
      dtype='object')

In [ ]:
MENA = conflict.drop(['data_id', 'fatalities', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'time_precision', 'event_type', 'actor1', 'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2', 'interaction', 'admin2', 'admin3', 'region', 'admin1', 'location', 'geo_precision', 'source', 'source_scale', 'notes', 'timestamp', 'iso3'],axis=1)
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Bangladesh']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA.dropna()

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Cambodia']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Indonesia']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Myanmar']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Yemen']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[177157 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Philippines']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[171794 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Thailand']
MENA

             event_date  year    country  latitude  longitude
1          28 July 2018  2018      India   17.8635    82.1959
2          28 July 2018  2018      India   17.8619    82.1970
3          28 July 2018  2018      India   30.7362    76.7884
4          28 July 2018  2018      India   32.9413    74.5498
5          28 July 2018  2018      India   32.9917    74.9320
...                 ...   ...        ...       ...        ...
216672  01 January 2010  2010   Pakistan   34.9256    71.5141
216673  01 January 2010  2010   Pakistan   32.5992    70.8511
216674  01 January 2010  2010   Pakistan   25.3942    68.3736
216675  01 January 2010  2010   Pakistan   30.1999    67.0097
216677  01 January 2010  2010  Sri Lanka    5.9666    80.5666

[171794 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Sri Lanka']
MENA

             event_date  year   country  latitude  longitude
1          28 July 2018  2018     India   17.8635    82.1959
2          28 July 2018  2018     India   17.8619    82.1970
3          28 July 2018  2018     India   30.7362    76.7884
4          28 July 2018  2018     India   32.9413    74.5498
5          28 July 2018  2018     India   32.9917    74.9320
...                 ...   ...       ...       ...        ...
216671  01 January 2010  2010  Pakistan   33.1500    70.4325
216672  01 January 2010  2010  Pakistan   34.9256    71.5141
216673  01 January 2010  2010  Pakistan   32.5992    70.8511
216674  01 January 2010  2010  Pakistan   25.3942    68.3736
216675  01 January 2010  2010  Pakistan   30.1999    67.0097

[169223 rows x 5 columns]

In [ ]:
MENA = MENA[MENA.country != 'Bahrain']
MENA

             event_date  year   country  latitude  longitude
1          28 July 2018  2018     India   17.8635    82.1959
2          28 July 2018  2018     India   17.8619    82.1970
3          28 July 2018  2018     India   30.7362    76.7884
4          28 July 2018  2018     India   32.9413    74.5498
5          28 July 2018  2018     India   32.9917    74.9320
...                 ...   ...       ...       ...        ...
216671  01 January 2010  2010  Pakistan   33.1500    70.4325
216672  01 January 2010  2010  Pakistan   34.9256    71.5141
216673  01 January 2010  2010  Pakistan   32.5992    70.8511
216674  01 January 2010  2010  Pakistan   25.3942    68.3736
216675  01 January 2010  2010  Pakistan   30.1999    67.0097

[168410 rows x 5 columns]

In [ ]:
MENA.sample(25)

               event_date  year   country  latitude  longitude
175713   26 February 2015  2015  Pakistan   27.5271    68.7452
6237         28 June 2018  2018     India   31.1044    77.1666
204270   20 December 2011  2011  Pakistan   34.1532    71.7066
208182      07 April 2011  2011  Pakistan   25.3942    68.3736
18111       29 April 2018  2018     India   29.6919    76.9844
77845        19 July 2017  2017     Syria   36.3095    36.6884
210848    03 October 2010  2010  Pakistan   33.7214    73.0432
178336   26 November 2014  2014  Pakistan   34.0197    71.5822
51755    21 November 2017  2017     India   27.4727    94.9121
153593        12 May 2016  2016     India   29.3874    76.9682
73833      06 August 2017  2017     Syria   35.9428    39.0519
41789     10 January 2018  2018     India   30.9120    75.8537
160966      02 March 2016  2016      Iraq   36.4747    42.6691
77472        21 July 2017  2017     India   11.1154    77.3545
4808         05 July 2018  2018      Iraq   36.3350    43.1189
62187   28 September 2017  2017      Iraq   37.1391    43.2560
160423      07 March 2016  2016  Pakistan   31.4166    73.0833
137013  15 September 2016  2016      Iraq   33.1009    44.5824
214147      09 April 2010  2010  Pakistan   24.8542    67.0160
53762    09 November 2017  2017     Syria   32.6241    36.1049
215049      17 March 2010  2010     Nepal   27.7017    85.3206
116912    26 January 2017  2017     Syria   33.5224    36.4584
61581     02 October 2017  2017  Pakistan   27.5333    67.7666
19858       20 April 2018  2018     Syria   33.7472    36.7064
94237         01 May 2017  2017  Pakistan   32.3011    69.5799

In [ ]:
MENA.to_csv(r'C:\Users\surfb\OneDrive\Desktop\MENA.csv', header=True)

In [ ]:
#Find out if lat/long format matches Braith format
#Drop years 2014-2018